/*Homepage header*/
.header-title {
    display: flex;
    justify-content: space-evenly;
    margin-top: 37px;
}

.header-busket {
    display: flex;
}

.header-slogan {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 150%;
    text-transform: uppercase;
    color: #BF1E77;
}

.contact p.phone {
    width: 164px;
    height: 30px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #545155;
}

.contact p.work-time {
    width: 114px;
    height: 18px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #545155;
    margin-top: -20px;
}

.busket {
    background-color: #BF1E77;
    display: flex;
    height: 40px;
    width: 73px;
    justify-content: space-around;

}

.busket-img {
    width: 17px;
    height: 15px;
}

.busket p {
    padding-top: 3px;
}

/*Homepage Menu*/

.nav-item a.nav-active {
    color: #BF1E77;
}

.front-slider {
    margin-bottom: 60px;
}

.front-slider-section {
    background-color: #E5E5E5;
}

/*Homepage Sale section*/
.front-sale-section {
    background-color: red;
}

.front-sale {
    display: flex;
    justify-content: space-around;
    padding-bottom: 25px;

}

.sale-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Homepage Grid section*/

.front-grid h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 150%;
    text-transform: uppercase;
    color: #545155;
    text-align: center;
    margin-top: 100px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 300px);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-areas:
        "post-1 post-1 post-2"
        "post-3 post-4 post-4"
        "post-5 post-6 post-7"
}

.front-grid-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 988px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(7, 300px);
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        grid-template-areas:
            "post-1"
            "post-2"
            "post-3"
            "post-4"
            "post-5"
            "post-6"
            "post-7";
    }

    .front-grid-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

}

.front-grid-item1 {
    grid-area: post-1;
}

.front-grid-item2 {
    grid-area: post-2;
}

.front-grid-item3 {
    grid-area: post-3;
}

.front-grid-item4 {
    grid-area: post-4;
}

.front-grid-item5 {
    grid-area: post-5;
}

.front-grid-item6 {
    grid-area: post-6;
}

.front-grid-item7 {
    grid-area: post-7;
}

/*footer section*/
.footer-menu a {

    height: 24px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #BF1E77;
    text-decoration: none;
}

.footer-menu ul {
    list-style: none;

}

.footer-menu ul li {
    padding-bottom: 47px;
}

.footer-text div p {
    height: 24px;
    color: #BF1E77;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
}

.footer-section {
    background-color: #fcb6ed;
    margin-top: 70px;
    height: 500px;
}

.footer-content {
    padding-top: 70px;
}

/*Catalog*/
.catalog-head {
    display: flex;
    justify-content: space-between;
}

.catalog-head h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 150%;
    text-transform: uppercase;
    color: #545155;
}

.catalog-card-name {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #BF1E77;
    padding-top: 42px;
    padding-left: 10px;
    padding-right: 10px;
}

.catalog-card-price {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.catalog-price {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: #545155;
    display: flex;

}

.catalog-busket {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #BF1E77;
    display: flex;
    align-items: center;
}

.catalog-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.catalog-card {
    border-radius: 32px 32px 32px 32px;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.15);
    min-height: 400px;
    margin-bottom: 15px;
}

.catalog-link div {
    padding-bottom: 10px;
}

.pagination-section {
    display: flex;
    margin-top: 50px;
    justify-content: center;
}

.pagination li a {
    background-color: white;
    color: #BF1E77;
}

.pagination li.active a {
    background-color: #BF1E77;
    border: solid 1px #BF1E77;
}

/*Catalog-product*/
.sort {
    margin-top: 15px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #545155;
}